<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma super page index</title>
</head>
<body>
<p>bonjour</p>
{% for phrase in phrases %}
<p>{{ phrase }}</p>
{% endfor %}
</body>
</html>